@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:900i');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  background: url("background.jpg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-size: 12pt;
  line-height: 1.4;
  font-weight: 400;
  /* font-family: 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;*/
}
body {
  position: absolute;
  top: 25%;
  left: 20%;
  background: white;
  padding: 2em;
  width: 60%;
  border-radius: 15px;
  color: #212121;
  font-family: 'Lato', sans-serif;
  margin-bottom: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
hr {
	height: 5px;
	border: 0;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  box-sizing: content-box;
  overflow: visible;
}
::selection {
  color:      white;
  background: hotpink;
}
::-moz-selection {
  color:      white;
  background: hotpink;
}
code,
pre,
blockquote {
  padding: .2em;
  background: pink;
  border-radius: 3px;
}
a {
    color: hotpink;
    text-decoration: none;
}
button {
  border: 1px solid pink;
  border-radius: 3px;
  background: white;
}
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
code,
pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  line-height: 1.2;
  letter-spacing: -.02em;
}
h1{
  /* animation: dropShadow 1.5s;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.date{
  color: #646464;
  font-size: 10px;
}
@keyframes dropShadow{
  25%{
    text-shadow:
      -5px 5px deeppink,
      -4px 4px deeppink,
      -3px 3px deeppink,
      -2px 2px deeppink,
      -1px 1px deeppink;
  }
	50%{
		color: hotpink;
		text-shadow:
			5px 5px deeppink,
      4px 4px deeppink,
      3px 3px deeppink,
      2px 2px deeppink,
      1px 1px deeppink;
	}
}

.footnote {
    font-size: 6pt;
    line-height: 1;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 600px) {
  h1 { font-size: 300%; }
  h2 { font-size: 200%; }
  h3 { font-size: 180%; }
  h4 { font-size: 160%; }
  h5 { font-size: 140%; }
  h6 { font-size: 120%; }
}
@media only screen and (max-device-width: 480px) {
  html{
    background-size: cover;

  }
  body {
  width: auto;
  left: 0%;
  font-size: 200%;
  }
  .date {
    font-size: 190%;
  }
  .footnote{
    font-size: 60%
  }
  img {
  height: 5%;
  width: 5%;
  }
  button {
  font-size: 100%;
  }
}
