* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  background-image: url("background.jpg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  font-size: 12pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
body {
  position: absolute;
  top: 25%;
  left: 25%;
  background: white;
  padding: 2em;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
code,
pre,
blockquote {
  padding: .2em;
  background: pink;
  border-radius: 3px;
}
a {
    color: hotpink;
}
button {
  border: 1px solid pink;
  border-radius: 3px;
  background: white;
}
code,
pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  line-height: 1.2;
  letter-spacing: -.02em;
}
@media (min-width: 600px) {
  h1 { font-size: 300%; }
  h2 { font-size: 200%; }
  h3 { font-size: 180%; }
  h4 { font-size: 160%; }
  h5 { font-size: 140%; }
  h6 { font-size: 120%; }
}
@media only screen and (max-device-width: 480px) {
  html{
    background-size: cover;

  }
  body {
  width: auto;
  left: 0%;
  font-size: 200%;


  }
  img {
  height: 15%;
  width: 15%;
  }
  button {
  font-size: 100%;
  }
}
