---
title: XaymupMollusk
---
<!DOCTYPE html>
<html>
<head>
  <title>XaymupMollusk</title>
  <link href=basic.css rel=stylesheet>
  <script src="https://kit.fontawesome.com/0952d9c3a3.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="posts">
   {% for post in site.posts %}
     <article class="post">

       <h3>{{ post.title }}</h3>

       <div class="entry">
         {{ post.content }}
       </div>
       <div class="date">Written on {{ post.date | date: "%B %e, %Y" }}</div>
     </article>
   {% endfor %}
 </div>
  {% include Footer.html %}
</body>
</html>
