---

---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - Mohamed Alaa</title>
  <link href=../basic.css rel=stylesheet>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKR4GRTZNQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DKR4GRTZNQ');
  </script>
</head>
<body>
 <a href="javascript:history.back()">← Back</a>
 <article class="post">
   <h3>{{ page.title }}</h3><div class="date">• Written on {{ page.date | date: "%B %e, %Y" }}</div>

   <div class="entry">
     {{ content }}
   </div>
 </article>
  <div class="post-navigation">
  {% if previous %}
    <a href="{{ previous.url }}" class="prev-post">
      &laquo; Previous: {{ previous.title }}
    </a>
  {% endif %}

  {% if next %}
    <a href="{{ next.url }}" class="next-post">
      Next: {{ next.title }} &raquo;
    </a>
  {% endif %}
</div>
 {% include Footer.html %}
</body>
</html>
