---

---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - Mohamed Alaa</title>
  <link href=../basic.css rel=stylesheet>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8276379145673780",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
 <a href="../">< Back</a>
 <br>
 <article class="post">
   <h3>{{ page.title }}</h3><div class="date">• Written on {{ page.date | date: "%B %e, %Y" }}</div>

   <div class="entry">
     {{ content }}
   </div>
 </article>
 {% include Footer.html %}
</body>
</html>
